{
  "root": true,
  "ignorePatterns": [
    "**/dist",
    "**/node_modules"
  ],
  "extends": [
    "@xylabs"
  ],
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ]
  }
}
