{
  "root": true,
  "ignorePatterns": [
    ".yarn",
    "bin",
    "build",
    "coverage",
    "dist",
    "docs",
    "node_modules"
  ],
  "extends": [
    "@xylabs"
  ],
  "rules": {
    "no-restricted-imports": [
      "warn",
      {
        "paths": [
          "@xylabs/sdk-js",
          "@xyo-network/bridge",
          "@xyo-network/module",
          "@xyo-network/modules",
          "@xyo-network/node",
          "@xyo-network/sdk",
          "@xyo-network/plugins",
          "@xyo-network/protocol",
          "@xyo-network/witness",
          ".",
          "..",
          "../..",
          "../../..",
          "../../../..",
          "../../../../..",
          "../../../../../..",
          "../../../../../../.."
        ]
      }
    ],
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ]
  }
}
